<% provide(:title, 'Posts') %>
<div class="container">
  <h1>All posts</h1>
  <div class="col-sm-10 col-sm-offset-1 col-xs-12 blog-content">
    <% @posts.each do |post| %>
    <div class="col-xs-12">
      <div class="text-center">
        <h2><%= link_to post.title, post_path(post) %></h2>
      </div>

      <div>
        <%= raw(post.body).truncate(358) %>
        <p class="time-created">Posted: <%= time_ago_in_words(post.created_at) %> ago</p>
        <p class="pull-right">Tags: <%= raw(post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')) %></p>
      </div>
      <br>
    </div>
    <% end %>
  </div>
  <% if @posts.any? %>
    <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
  <% end %>
</div>
